

:root{
    --colorPrincipal:#FEC84B ; 
    --colorSecundario:#C11574;
    --colorTerciario:#FDB022;
    --fuentePrincipal :font-family: 'Mina', sans-serif; 
    --fuenteSecundaria:font-family: 'Pacifico', cursive; 
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    width: 100%;
}
/* HEADER */
.headerTop{
    background-color:var(--colorPrincipal);
    width: 100%;
    height: 52px;
}

.a-Header{
    margin-right: 5vw;
    line-height: 52px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    color: #ffffff;
    padding-left: 15px;
    border-left: 3px solid white;
}
 
.a-Header:hover{
    color: black;
}

.tituloArtPetit{
    font-family: 'Pacifico', cursive;
    font-size: 2.1rem;
    line-height: 63px;
    color: var(--colorSecundario);
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-decoration: none;
}
.tituloArtPetit:hover{
    color: var(--colorSecundario);
}

.contenedorNavs{
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link{
    color: black !important;
}

.nav-link:hover{
    color: var(--colorPrincipal) !important;
}

/* FIN HEADER */


/* HOME */

.titulosCarrousel{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    font-family: var(--fuentePrincipal);
    padding: 10px;
}

.contenedorInfo{
    width: 100%;
}
.textoInformacion{
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    font-weight: 700;
}
.textoFAQS{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 1rem;
    color: #5C5959;
    text-decoration: none;
}

/* FIN HOME */


/* FOOTER */

.footer{
    background-color: var(--colorPrincipal);
    height: 213px;
    width: 100%;
    font-size: 1rem;
}
.textoRedes{
    font-family:var(--fuentePrincipal);
    font-size: 1.5rem;
    margin: 15px;
}
.textoUbicacion{
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
}

@media (max-width: 600px){
    .textoUbicacion{
        font-family: var(--fuentePrincipal);
        font-size: 1rem;
    }
}


/* FIN FOOTER */






/* PAGINA COMPRAR ARTE */

.card-body{
    font-family: 'Mina', sans-serif;
}




/* PAGINA TRABAJOS PERSONALIZADOS */

.contenedorFormulario{
    background-color:var(--colorTerciario);
    width: 75vw;
    padding: 5vw;
    border-radius: 30px;
}


.textoLabel{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 8px;
}

.botonSubmit{
padding: 2vh 8vw;
width: 25vw;
background: #FFFFFF;
border: 3px solid #C11574;
border-radius: 10px;
text-transform: uppercase;
color: var(--colorTerciario);
font-family: var(--fuentePrincipal);
font-weight: 700;
font-size: 1.5rem;
}

@media (max-width: 600px){
    .botonSubmit{
        padding: 7px 60px;
        width: 170px;
        margin: auto;
        background: #FFFFFF;
        border: 3px solid #C11574;
        border-radius: 10px;
        text-transform: uppercase;
        color: #FDB022;
        font-family: "Mina", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        }
}
 

.errorDatos{
    border: 3.5px solid  rgb(252, 103, 103) !important;
}
 .datosCorrectos {
    border: 3.5px solid  rgb(146, 223, 95) !important;
    opacity: 1;
}
/* icono del fomulario */
.formularioInput{
    position: relative;
}
.formularioEstado , 
.formularioEstadoEmail{
position: absolute;
right: 10px;
top: 3px;
z-index: 100;
font-size: 20px;
opacity: 0;
}
.formularioEstadoActivo{
    display: block;
    opacity: 1;
}
.formularioEstadoCorreto{
    color:rgb(146, 223, 95) ;
}
.formularioEstadoIncorrecto{
    color: rgb(216, 65, 38);
}
/* PAGINA QUIENES SOMOS */

.contenedorQuienesSomos{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.tituloQuienesSomos{
    font-family: pacifico;
    color: var(--colorSecundario);
}

.textoQuienesSomos{
    font-family:'Mina';
    font-size: 1.8rem;
    font-weight: 400;
}

/* PAGINA LUCES: INTERIOR // EXTERIOR // OFERTAS */

.titulosLuces{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    color: var(--colorTerciario);
    margin-top: 5vh;
}




/* PAGINA ¿COMO COMPRAR? */


.contenedorComoComprar{
    background: #C1157433;
    height: 100%;
}

.cartasComoComprar{
    background-color:var(--colorSecundario);
    color: white;
    font-family: var(--fuentePrincipal);
}

.tituloComoComprar{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorSecundario);
}



/* PAGINA PREGUNTAS FRECUENTES */

.contenedorPreguntasFrecuentes{
    margin: 60px;
}

.titPrincipalPreguntasFrecuentes{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    color: var(--colorSecundario);
    margin: 60px;
}

.titulosPreguntasFrecuentes{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}

.textoPreguntasFrecuentes{
    font-family: var(--fuentePrincipal);
    font-weight: 400;
}



/* PAGINA IDEAS */

.contenedorIdeas{
    display: flex;
    overflow-x: auto;
    border: 1px solid white;
    max-height: 300px;
}

.contenedorIdeas::-webkit-scrollbar{
    width: 0;
}

.imgIdeas{
    max-width: 600px;
    height: 300px;
    margin-right: 20px;
}

.tituloIdeasBalcon{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}


/* PAGINA TERMINOS Y CONDICIONES  */

.tituloTerminosyCondiciones{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    color: var(--colorSecundario);
}