:root {
    --colorPrincipal: #FEC84B;
    --colorSecundario: #C11574;
    --colorTerciario: #FDB022;
    --fuentePrincipal: font-family: 'Mina', sans-serif;
    --fuenteSecundaria: font-family: 'Pacifico', cursive;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    width: 100%;
}

/* HEADER */
.headerTop {
    background-color: var(--colorPrincipal);
    width: 100%;
    height: 50px;
}

.textHeader {
    display: flex;
    justify-content: end;
    margin-top: -1.5rem;

}
@media(max-width:768px){
    .textHeader {
        display: flex;
       align-items: flex-end;
        margin-top: -1.5rem;
    
    }
}

.a-Header {
    margin-right: 5vw;
    line-height: 52px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    padding-left: 15px;
    border-left: 3px solid white;
    text-align: center;
}

.a-Header:hover {
    color: black;
}

.tituloArtPetit {
    font-family: 'Pacifico', cursive;
    font-size: 2.1rem;
    line-height: 63px;
    color: var(--colorSecundario);
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-decoration: none;
}

.tituloArtPetit:hover {
    color: var(--colorSecundario);
}

.contenedorNavs {
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {

    .contenido {
        position: relative;
        padding: 0 auto;
        margin: none;
        overflow-x: hidden;
        z-index: 0;
    }

    .contenedorNavs {
        position: absolute;
        margin: none;

        width: 12rem;
        height: 100%;
        background-color: #FDB022;
        left: -12rem;
        transition: all 250ms linear;
        z-index: 3;
    }

    .contenedorNavs.active {
        left: 0rem;


    }

    .contenedorNavs ul li {
        list-style: none;
        color: #FFFFFF !important;
        text-align: center;
        margin: 2rem;

    }


    .sidebar {
        padding: 1rem;
        font-size: 1.5rem;
        color: #fff;
        align-items: flex-start;
    }

    .textHeader {
        margin-top: -3.5rem;

    }

}

.nav-link {
    color: #fff !important;
    width: 100%;

}

.dropdown-menu.show {
    background-color: #FEC84B;
    font-family: 'Mina';
    text-transform: uppercase;
    font-weight: 100;
}

.nav-link:active {
    color: #C11574 !important;
}


/* FIN HEADER */


/* HOME  y CARROUSEL */
.carousel-caption h5 {
   
    position: relative;
    font-family: 'Mina';
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

.carousel-caption span {
    position: relative;
    color: #000;
    font-family: 'Mina';
    font-size: 2.7rem;
    text-transform: uppercase;

}
@media (max-width:768px){
    .carousel-caption h5 {
        font-family: 'Mina';
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        display: block;
    }
    .carousel-caption span {
        color: #000;
        font-family: 'Mina';
        font-size: 1.3rem;
        right: 35px;
        text-transform: uppercase;
      
      
    
    }
   .titulosCarrousel__terImg{
       bottom: 60px;
       right: 35px;
       font-size: .8rem !important;
   }
}


/* FIN contenido carrousel */
.contenedorInfo {
    width: 100%;
}

.textoInformacion {
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    font-weight: 700;
}

.textoFAQS {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 1rem;
    color: #5C5959;
    text-decoration: none;
}

/* FIN HOME */


/* FOOTER */
.contenedorLogoRedes {
    padding: 25px;
    text-align: center;
}
@media(max-width:768px){
.contenidoFooterRedes ,
.contenedorLogoRedes__iconos  {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}
.contenidoFooterRedes h5{
    font-family: 'Mina';
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 3rem;
}
.contenedorLogoRedes__iconos a{
font-size: 1.2rem;
background-color: var(--colorPrincipal);
}


}
@media (max-width:768px) {
    .footer {
        background-color: var(--colorPrincipal);
        width: 100%;
        height: 45vh;
        margin-top: 1.5rem;
    }
    .contenedorUbicacion {
        display: flex;
        justify-content: center;
        gap:5rem;
        padding: 3rem;
    }
    .textoUbicacion{
        font-family: 'Mina';
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
    }
    .textoUbicacion img {
        width: 10px;
       
      
    }
}
@media (min-width:768px) {
    .footer {
        background-color: var(--colorPrincipal);
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }
    
    .contenidoFooter {
        font-family: var(--fuentePrincipal);
        font-size: 1.5rem;
        margin: 15px;
    }
    
    .textoUbicacion {
        font-family: var(--fuentePrincipal);
        font-size: 1.5rem;
    }
    
}



/* FIN FOOTER */

/* PAGINA COMPRAR ARTE */
.producDatos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.producImg {
    padding: 5rem;
}

.producDescrip {
    margin-top: 5rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
    margin-right: 9rem;
}

.btnComprar {
    width: 10rem;
    height: 3.5rem;
    background: #FFFFFF;
    border: 2px solid #C11574;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--colorTerciario);
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    font-size: 1rem;
    margin-top: 5rem;
}

.card-body {
    font-family: 'Mina', sans-serif;
}

/* media query para la version mobile de comprar luces o dibujos */
@media (max-width:768px) {



    .tituloArtPetit {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .contenedorImg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-top: -2rem;
        padding: 2rem;

    }

    .floatWpp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: .3rem;
        top: 24rem;
        margin-bottom: 2rem;
        background-color: #00bb2d;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
        font-size: 2.5rem;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;

    }

    .floatWpp:hover {
        text-decoration: none;
        color: #00bb2d;
        background-color: #ffffff;
    }

    .iconWpp i {
        margin-top: -2rem;
    }

}



/* PAGINA TRABAJOS PERSONALIZADOS */


/* estilos que se muestra si el formulario se envio  */
@media (max-width:768px) {
    /* ajustar la pantalla  */

    .headerTop {
        justify-content: center;

    }

    .tituloArtPetit {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .contenedorFormulario {
        display: flex;
        flex-direction: row;
        margin: 1.5rem;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
        background-color: #FDB022;
        padding: 2rem;
        border-radius: 10px;

    }

    .botonSubmit {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:768px) {
    .textHeader {
        margin-left: 50rem;
        margin-top: .1rem;
    }

    .headerTop {
        display: flex;
        justify-content: center;
        overflow: auto;
    }

    .tituloArtPetit {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .contenedorFormulario {
        margin: 0 auto;
        width: 100%;
        background-color: #FDB022;
        border-radius: 2%;
        padding: 1rem;
        margin-bottom: 5rem;
    }

    .botonSubmit {
        display: flex;
        justify-content: center;
    }
}

.FormularioEnviado {
    text-align: center;
}

.FormularioEnviado h1 {
    margin-top: 5rem;
    font-family: 'Mina', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

.FormularioEnviado i {
    color: rgb(95, 182, 139);
    font-size: 4rem;
    font-weight: 100;
    margin: 3.5rem;

}

.FormularioEnviado p {
    font-family: 'Mina';
    font-size: 1.2rem;
    font-weight: 100;

}

@media (min-width:768px) {
    .contenedorFormulario {
        margin: 0 auto;
        width: 80%;
        background-color: var(--colorTerciario);
        border-radius: 2%;
        padding: 1rem;
        margin-bottom: 5rem;
    }

}


.textoLabel {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 8px;
}

.botonSubmit {
    padding: 2vh 8vw;
    width: 25vw;
    margin: 0 19rem;
    background: #FFFFFF;
    border: 3px solid #C11574;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--colorTerciario);
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 1.5rem;

}

.botonSubmit:hover {
    background-color: #FDB022;
    color: #ffffff;
    transition-duration: .8s;
}

@media (max-width: 600px) {
    .botonSubmit {
        padding: 7px 60px;
        width: 170px;
        margin: auto;
        background: #FFFFFF;
        border: 3px solid #C11574;
        border-radius: 10px;
        text-transform: uppercase;
        color: #FDB022;
        font-family: "Mina", sans-serif;
        font-weight: 700;
        font-size: 1rem;
    }
}


.errorDatos {
    border: 3.5px solid rgb(252, 103, 103) !important;
}

.datosCorrectos {
    border: 3.5px solid rgb(146, 223, 95) !important;
    opacity: 1;
}

/* icono del fomulario */
.formularioInput {
    position: relative;

}

.formularioEstado,
.formularioEstadoEmail {
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: 100;
    font-size: 20px;
    opacity: 0;
}

.formularioEstadoActivo {
    display: block;
    opacity: 1;
}

.formularioEstadoCorreto {
    color: rgb(146, 223, 95);
}

.formularioEstadoIncorrecto {
    color: rgb(216, 65, 38);
}

/* estilos para que el boton cambie de color segun si el formulario esta bien o no  */
.--incompleto {
    background-color: #b1b0b0 !important;
    color: #fff !important;
    border: none !important;
}

.--incompleto:hover {
    background-color: #FDB022 !important;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

/* PAGINA QUIENES SOMOS */
@media (max-width:768px) {

    .quienesSomos {
        display: flex;
        flex-direction: column;
        padding: 10px;


    }

    .tituloQuienesSomos {
        text-align: center;
    }

    .textoQuienesSomos {
        font-family: 'Mina';
        font-size: 1rem;
        margin: 1rem;
        text-align: start;
    }

}

@media (min-width:300px) {

    .contenedorInfo {
     
        overflow: hidden;
        border-top: 1px solid rgba(128, 128, 128, 0.616);
       
   
    }

    .Info {
       position: relative;
        display: flex;
        justify-content: space-evenly;
        gap: 3px;
       top: 20px;
      

    }


    .textoInformacion h5  {
        font-size: 10px;
        font-family: 'Mina';
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 4px;
    

    }
   
    .textoInformacion img {
        width: 10px;
    }

}

/* preguntas Frecuentes */
@media (min-width:300px) {
    .preguntasFrecuentes {
        font-family: var(--fuentePrincipal);
        font-weight: 700;
        color: #5C5959;
        text-decoration: none;
        position: relative;


    }

    .preguntasFrecuentes__Contenido {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        position: absolute;
        top: 25px;
        font-family: var(--fuentePrincipal);
        font-weight: 700;
        font-size: 10px;
        color: #5C5959;
        text-decoration: none;
        border-top: 1px solid rgba(128, 128, 128, 0.616);

    }

    .textoFAQS {
        font-size: 10px;
        text-align: center;
        padding: 5px;
    }


}

.contenedorQuienesSomos {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.tituloQuienesSomos {
    font-family: pacifico;
    color: var(--colorSecundario);
}

.textoQuienesSomos {
    font-family: 'Mina';
    font-weight: 400;
}

/* PAGINA LUCES: INTERIOR // EXTERIOR // OFERTAS */

.titulosLuces {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    color: var(--colorTerciario);
    margin-top: 5vh;
    text-align: center;
}

/* media query para las luces */
@media (max-width:768px) {

    /* ajustar la pantalla  */
    html, body {
        min-height: 100%;
        min-width: 100%;
    }

    .tituloArtPetit {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .contendorLucesInterior {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 1rem;

    }

    .floatWpp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: .3rem;
        top: 24rem;
        margin-bottom: 2rem;
        background-color: #00bb2d;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
        font-size: 2.5rem;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;

    }

    .floatWpp:hover {
        text-decoration: none;
        color: #00bb2d;
        background-color: #ffffff;
    }

    .iconWpp i {
        margin-top: -2rem;
    }

}

/* media query para luces de exterior */
@media (max-width:768px) {

    /* ajustar la pantalla  */
    body {
        min-height: 100%;
        min-width: 100%;

    }

    .tituloArtPetit {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .contenedorLucesExterior {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1.5rem;

    }

    .floatWpp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: .3rem;
        top: 24rem;
        margin-bottom: 2rem;
        background-color: #00bb2d;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
        font-size: 2.5rem;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;

    }

    .floatWpp:hover {
        text-decoration: none;
        color: #00bb2d;
        background-color: #ffffff;
    }

    .iconWpp i {
        margin-top: -2rem;
    }

}

@media (max-width:768px) {
    .contenidoMain {
        height: 50vh;
    }

    .contenidoMain__texto {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
        color: #000;
        font-family: 'Mina';
        padding: 2rem;

    }
}

/* PAGINA ¿COMO COMPRAR? */


.contenedorComoComprar {
    background: #C1157433;
    height: 100%;
}

.cartasComoComprar {
    background-color: var(--colorSecundario);
    color: white;
    font-family: var(--fuentePrincipal);
}

.tituloComoComprar {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorSecundario);
}



/* PAGINA PREGUNTAS FRECUENTES */

.contenedorPreguntasFrecuentes {
    margin: 60px;
}

.titPrincipalPreguntasFrecuentes {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    color: var(--colorSecundario);
    margin: 60px;
}

.titulosPreguntasFrecuentes {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}

.textoPreguntasFrecuentes {
    font-family: var(--fuentePrincipal);
    font-weight: 400;
}



/* PAGINA IDEAS */
@media (max-width:768px) {
    .contenedorIdeas {
        overflow-x: auto;
        border: 1px solid white;
        max-height: 300px;
        display: flex;
    }

    .contenedorIdeas::-webkit-scrollbar {
        width: 1rem;
    }

    .imgIdeas {
        max-width: 600px;
        height: 300px;
        margin-right: 20px;
    }

    .tituloIdeasBalcon {
        font-family: var(--fuentePrincipal);
        font-weight: 700;
    }
}



/* PAGINA TERMINOS Y CONDICIONES  */

.tituloTerminosyCondiciones {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    color: var(--colorSecundario);
}

/* PAGINA DE NUESTRO BLOG */
.subtituloBlog {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: var(--colorSecundario);
}
.contenidoBlog__Titulo{
    color: #FEC84B;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.253) 0px 4px 4px ;
}